@using NewSmiteToolkit.Models;
@using NewSmiteToolkit.Utilities;
@using Newtonsoft.Json;
@model IEnumerable<MatchPlayer>

@{
    ViewBag.Title = "Spy Tool Results";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<MatchPlayer> team1 = Model.Where(p => p.taskForce.Equals("1")).ToList();
    List<MatchPlayer> team2 = Model.Where(p => p.taskForce.Equals("2")).ToList();

    List<God> gods = GeneralUtils.GetGods();
}

<style>
    .table-hover tbody tr:hover td {
        background-color: #f5f5f5;
        color: black
    }

    .team-header {
        text-align: center;
        font-size: 2rem;
        border-radius: 10px 10px 0px 0px;
    }

    .team-footer {
        border-radius: 0px 0px 10px 10px;
    }

    .team1{
        background-color: firebrick;
    }

    .team2{
        background-color: dodgerblue;
    }

    th {
        text-align: center;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>

<h2>Success! Here are Your Match's Details!</h2>
<br />
<div class="text-center">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="team-header team1" scope="colgroup" colspan="6">
                    - Team 1 -
                </th>
            </tr>
            <tr>
                <th>
                </th>
                <th>
                    God Played
                </th>
                <th>
                    Player Name
                </th>
                <th>
                    Account Level
                </th>
                <th>
                    Region
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in team1)
            {
                <tr>
                    <td>
                        <img src="@(gods.First(g => g.Name.Equals(item.GodName)).godIcon_URL)" style="width: 40px; height: auto; border: 1px solid rgba(255, 255, 255, 0.5); border-radius: 10px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GodName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.playerName)
                    </td>
                    <td>
                        @item.Account_Level
                    </td>
                    <td>
                        @item.playerRegion
                    </td>
                    <td>
                        @Html.ActionLink("Details", "PlayerDetails", new { playerJson = JsonConvert.SerializeObject(item) })
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th class="team1 team-footer" colspan="7" scope="colgroup">
                </th>
            </tr>
        </tfoot>
    </table><br />

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="team2 team-header" scope="colgroup" colspan="6">
                    - Team 2 -
                </th>
            </tr>
            <tr>
                <th>
                </th>
                <th>
                    God Played
                </th>
                <th>
                    Player Name
                </th>
                <th>
                    Account Level
                </th>
                <th>
                    Region
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in team2)
            {
            <tr>
                <td>
                    <img src="@(gods.First(g => g.Name.Equals(item.GodName)).godIcon_URL)" style="width: 40px; height: auto; border: 1px solid rgba(255, 255, 255, 0.5); border-radius: 10px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.playerName)
                </td>
                <td>
                    @item.Account_Level
                </td>
                <td>
                    @item.playerRegion
                </td>
                <td>
                    @Html.ActionLink("Details", "PlayerDetails", new { playerJson = JsonConvert.SerializeObject(item) })
                </td>
            </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th class="team2 team-footer" colspan="7" scope="colgroup">
                </th>
            </tr>
        </tfoot>
    </table>
</div>

